.raid-card {
    background-color: var(--background);
    text-decoration: none;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition:
        background-color 200ms,
        filter 200ms;
}

.raid-card:hover {
    background-color: var(--highlight);
    filter: drop-shadow(2px 2px 2px var(--shadow));
}

.server-row {
    border-bottom: 1px solid var(--color-border);
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s;
}

.server-row:hover {
    background-color: var(--color-hover);
}

@media (max-width: 768px) {
    .raid-card {
        padding: 5px;
    }
}