.status-column {
    width: 84px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verified-and-remove-cell {
    display: flex;
    width: min-content;
    align-items: center;
    gap: 10px;
}
