.verification-code {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.step-icon {
    vertical-align: bottom;
    height: 1.5rem; /* Adjust the height to match the text size */
    width: auto;
}
