.verification-code {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

.step-icon {
    vertical-align: bottom;
    height: 1rem;
    width: auto;
}

.comment-field-demo {
    max-width: 530px;
    width: 100%;
    height: 496px;
    background-image: url("../../assets/gif/comment_demo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.remove-comment-field-demo {
    max-width: 530px;
    width: 100%;
    height: 496px;
    background-image: url("../../assets/gif/remove_comment_demo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.demo-container {
    .expandable-container-content {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .demo-container {
        .expandable-container-content {
            margin-top: 0;
            padding: 5px;
        }
    }
}
