.guild-search-table.loading {
    pointer-events: none;
    opacity: 0.6;
}

/* Rounded corners at the very top if header touches container edges */
.guild-search-table thead th:first-child {
    border-top-left-radius: 10px;
}
.guild-search-table thead th:last-child {
    border-top-right-radius: 10px;
}

/* Expand column */
.guild-search-table .expand-header,
.guild-search-table .expand-cell {
    width: 40px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.guild-search-table > thead > tr  > * {
    background-color: var(--gray6);
    text-align: left;
}

.guild-search-table > tbody > tr:last-of-type {
    border-bottom: 5px solid var(--gray6);
}

@media (max-width: 768px) {
    .guild-search-table th,
    .guild-search-table td {
        padding: 8px 10px;
    }
}