.selection-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner-container {
    background-color: var(--background);
    filter: drop-shadow(0 0 10px var(--shadow));
    max-width: 1100px;
    width: 100%;
}

.selection-form {
    margin: 0;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.selection-form-content {
    width: 100%;
    padding: 0 0 30px 0;
}

.selection-form h2 {
    margin: 0;
    /* margin-bottom: 20px; */
}

.selection form .form-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selection-form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registered-list {
    width: 100%;
    padding: 20px;
}

.character-select-modal-content {
    width: 100%;
    min-width: 400px;
}



@media (max-width: 768px) {
    .selection-form {
        max-width: unset;
        padding: 30px 20px 50px 20px;
    }

    .character-select-modal-content {
        min-width: unset;
    }
}