.character-table-container {
    position: relative;
    overflow-x: auto;
    overflow-y: auto; /* enable vertical scroll when height is constrained */
    max-height: 100%;
    width: 100%;
    border: 1px solid var(--table-border, #e5e7ebb0);
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

.character-table > thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--table-border, #e5e7ebb0);
}

.character-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.character-table th:last-child {
    position: sticky;
    right: 0;
}

.character-table td:last-child {
    position: sticky;
    right: 0;
    background-color: inherit;
}

.has-scroll-shadow .character-table th:last-child::before,
.has-scroll-shadow .character-table td:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.character-status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.character-table > thead > tr > * {
    background-color: var(--gray6);
    text-align: left;
}

.character-table > tbody > tr:nth-of-type(even):not(.expanded-row) {
    background-color: var(--gray7);
}

.character-table > tbody > tr:nth-of-type(odd):not(.expanded-row) {
    background-color: var(--background);
}

.character-table > tbody > tr:last-of-type {
    border-bottom: 5px solid var(--gray6);
}