.tooltip-container {
    background: var(--soft-highlight);
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: var(--text);
    font-size: 14px;
    min-width: 0;
    width: fit-content;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;

    .tooltip-header {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .tooltip-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .tooltip-series-color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}