.status-column {
    width: 84px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

table th:last-child,
table td:last-child {
    position: sticky;
    right: 0;
    background-color: inherit;
    z-index: 1;
}

.action-cell {
    width: 0;
}

.verify-button {
    border-color: var(--orange-text) !important;
}

.verify-button > span {
    color: var(--orange-text) !important;
}

.verify-button:hover {
    box-shadow: 0px 0px 5px 0px var(--orange-text) !important;
}
