.status-column {
    width: 84px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-status-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.registration-table th:last-child,
.registration-table td:last-child {
    position: sticky;
    right: 0;
    background-color: inherit;
    z-index: 1;
}

.action-cell {
    width: 0;
}
