.generic-toolbar-container {
    background-color: var(--color-title-bar);
    height: 30px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .generic-toolbar-container {
        height: 40px;

        .item {
            .icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}
